<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managers Page</title>
</head>

<body>
    <h1>Welcome to the Managers Page</h1>
    <nav>
        <ul>
            <li><a href="/home">Back to Home Page</a></li> <!--links to home page page-->
        </ul>
    </nav>
</body>

</html>